<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Cavani | About</title>

		<link rel="stylesheet" href="../styles/style.css" />
		<link rel="stylesheet" href="../styles/header.css" />
		<link rel="stylesheet" href="../styles/main.css" />
		<link rel="stylesheet" href="../styles/footer.css" />
		<link rel="stylesheet" href="../styles/about.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body>
		<header class="header">
			<div class="logo-container">
				<img src="../images/logo.png" alt="Logo" />
			</div>

			<nav class="nav-bar">
				<ul>
					<li>
						<a href="views/home.html">Home</a>
					</li>
					<li>
						<a href="views/about.html">About</a>
					</li>
					<li>
						<a href="views/portfolio.html">Portfolio</a>
					</li>
					<li>
						<a href="views/service.html">Service</a>
					</li>
					<li>
						<a href="views/news.html">News</a>
					</li>
					<li>
						<a href="views/contact.html">Contact</a>
					</li>
				</ul>
			</nav>
		</header>

		<main class="main">
			<section class="hero">
				<div class="left">
					<img src="../images/cover.jpg" alt="Hero image" />
				</div>

				<div class="right">
					<div class="subtitle-and-line">
						<span>ABOUT ME</span>
						<hr>
					</div>                    
                    <section class="about-me-content">
                        <div class="passage">
                            <p>Hello there! My name is <b>Alan Walker</b>.  I am a graphic designer, and I'm very passionate and dedicated to my work.</p>
							<br>
							<p>With 20 years experience as a professional a graphic designer, I have acquired the skills and knowledge necessary to make your project a success.</p>
                        </div>
                        <div class="bio-data">
                            <ul>
                                <li>
                                    <span class="first-column">Name:</span> <span>Alan Walker</span>
								</li>
								<li>
									<span class="first-column">Address:</span> <span>Ave Street, New York, USA</span>
								</li>
								<li>
									<span class="first-column">Study:</span> <span>Univercity of Oxford</span>
								</li>
								<li>
									<span class="first-column">Degree:</span> <span>Master of Science</span>
								</li>
								<li>
									<span class="first-column">Mail:</span> <span>hello@cavani.com</span>
								</li>
								<li>
									<span class="first-column">Phone</span> <span>+77 022 444 05 05</span>
								</li>
                                
                            </ul>                            
                        </div>
                    </section>
					<section class="ser-int-content">
						<div class="services">
							<div class="subtitle-and-line">
								<span>SERVICES</span>
								<hr>
							</div>							
							<ul>
								<li><i class="fa-solid fa-play fa-xs"></i>Web Development</li>
								<li><i class="fa-solid fa-play fa-xs"></i>Graphic Design</li>
								<li><i class="fa-solid fa-play fa-xs"></i>Landing Page</li>
								<li><i class="fa-solid fa-play fa-xs"></i>On-Page SEO</li>
								<li><i class="fa-solid fa-play fa-xs"></i>Web Hosting</li>
							</ul>
						</div>
						<div class="interests">
							<div class="subtitle-and-line">
								<span>INTERESTS</span>
								<hr>
							</div>
							
							<ul>
								<li><i class="fa-solid fa-play fa-xs"></i>Painting & Drawing</li>
								<li><i class="fa-solid fa-play fa-xs"></i>Reading & Writing</li>
								<li><i class="fa-solid fa-play fa-xs"></i>Music & Cinema</li>
								<li><i class="fa-solid fa-play fa-xs"></i>Travel & Picnik</li>
								<li><i class="fa-solid fa-play fa-xs"></i>Rain & Snow</li>
							</ul>
						</div>											
					</section>

					<div class="program-lang-content">
						<section class="programming">
							<div class="subtitle-and-line">
								<span>PROGRAMMING</span>
								<hr>
							</div>							
							<p>HTML & CSS</p>
							<div class="skillbar-container">
								<div class="html bar">
									<span class="bar-per">60%</span>
								</div> 
							</div>
							<p>Javascript</p>
							<div class="skillbar-container">
								<div class="javascript bar">
									<span class="bar-per">85%</span>
								</div> 
							</div>
							<p>Wordpress</p>
							<div class="skillbar-container">
								<div class="wordpress bar">
									<span class="bar-per">90%</span>
								</div> 
							</div>
	
						</section>
	
						<section class="language">
							<div class="subtitle-and-line">
								<span>LANGUAGE</span>
								<hr>
							</div>
							<div class="language-bars-container">
								<div class="language-bar-container">
									<div class="progress english">
										<div class="inner-circle">
											<p>95%</p>
										</div>
									</div>
	
									<span>English</span>																
								</div>
	
								<div class="language-bar-container">
									<div class="progress russian">
										<div class="inner-circle">
											<p>80%</p>
										</div>
									</div>
									
									<span>Russian</span>
								</div>
	
								<div class="language-bar-container">
									<div class="progress arabic">
										<div class="inner-circle">
											<p>90%</p>
										</div>
									</div>
									
									<span>Arabic</span>
								</div>
							</div>																					
						</section>
					</div>	
					
					<section class="edu-exp-content"> 
						
						<div class="education">
							<div class="subtitle-and-line">
								<span>EDUCATION</span>
								<hr>
							</div>
							
							<div class="mathu">
								<div class="round-tracking">
									<div class="vertical-line-1"></div>
									<div class="round-shape"></div>
									<div class="vertical-line-2"></div>
									<div class="round-shape"></div>
									<div class="vertical-line-2"></div>
									<div class="round-shape"></div>
									<div class="vertical-line-1"></div>
		
								</div>
		
								<div class="edu-details">
									<table>
										<tr>
											<td class="col-1"><p>2014-2016</p></td> <td class="col-2"><h3>Oxford Univercity</h3><p>Master Degree</p></td>
										</tr>
		
										<tr>
											<td class="col-1"><p>2010-2014</p></td> <td class="col-2"><h3>Texas Univercity</h3><p>Bachelor Degree</p></td>
										</tr>
		
										<tr>
											<td class="col-1"><p>2008-2010</p></td> <td class="col-2"><h3>Simone College</h3><p>Associate Degree</p></td>
										</tr>
									</table>
								</div>
							</div>
							
						</div>
	
						
						<section class="experience">
							<div class="subtitle-and-line">
								<span>EXPERIENCE</span>
								<hr>
							</div>
							
							<div class="mathu">
								<div class="round-tracking">
									<div class="vertical-line-1"></div>
									<div class="round-shape"></div>
									<div class="vertical-line-2"></div>
									<div class="round-shape"></div>
									<div class="vertical-line-2"></div>
									<div class="round-shape"></div>
									<div class="vertical-line-1"></div>
				
								</div>
				
								<div class="exp-details">
									<table>
										<tr>
											<td class="col-1"><p>2018-running</p></td> <td class="col-2"><h3>Envato Elements</h3><p>Exclusive Author</p></td>
										</tr>
				
										<tr>
											<td class="col-1"><p>2015-2018</p></td> <td class="col-2"><h3>Avo Corporation</h3><p>Content Manager</p></td>
										</tr>
		
										<tr>
											<td class="col-1"><p>2012-2015</p></td> <td class="col-2"><h3>FC Barcelona</h3><p>Football Player</p></td>
										</tr>
									</table>
								</div>
							</div>
						</section>

					</section>
					

					<h4>PARTNERS</h4>
					<table class="partner-table">
						<tr>
							<td><a href="#"><img src="../images/pngwing.com.png" alt="some-logo"></a></td> <td><a href="#"><img src="../images/pngwing.com (1).png" alt="somelogo"></a></td> <td><a href="#"><img src="../images/pngwing.com (2).png" alt=""></a></td> <td><a href="#"><img src="../images/pngwing.com (3).png" alt="logo"></a></td>
						</tr>

						<tr>
							<td><a href="#"><img src="../images/pngwing.com (3).png" alt="logo"></a></td> <td><a href="#"><img src="../images/pngwing.com (2).png" alt="logo"></a></td> <td><a href="#"><img src="../images/pngwing.com (1).png" alt="logo"></a></td> <td><a href="#"><img src="../images/pngwing.com.png" alt="logo"></a></td>
						</tr>
					</table>

					<h4 class="testi-h4">TESTIMONIALS</h4>
					<div class="testimonials">
						<div class="testi-left">
							<div class="box">
								<p>Beautiful minimalist design and great, fast response with support. Highly recommend. Thanks Marketify!</p>
							</div>
							<div class="feedback-profile">
								<img src="../images/person1.jpg" alt="person-image">
								<div class="feed-pr-details">
									<h3>Alexander Walker</h3><p>Graphic Designer</p>
								</div>
								
							</div>
						</div>
						<div class="testi-right">
							<div class="box">
								<p>These people really know what they are doing! Great customer support availability and super kindness.</p>
							</div>
							<div class="feedback-profile">
								<img src="../images/person2.jpg" alt="person-image">
								<div class="feed-pr-details">
									<h3>Armin Van Buuren</h3> <p>Content Manager</p>
								</div>
								
							</div>

						</div>						
					</div>
					
					
                </div>
                
			</section>

			
			
			
		</div>
		
	</section>
		</main>

		<footer class="footer">
			<p class="copyright">Copyright &copy; 2024</p>
		</footer>
	</body>
</html>
