<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Cavani | Portfolio</title>

		<link rel="stylesheet" href="../styles/style.css" />
		<link rel="stylesheet" href="../styles/header.css" />
		<link rel="stylesheet" href="../styles/main.css" />
		<link rel="stylesheet" href="../styles/footer.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../styles/portfolio.css">
	</head>
	<body>
		<header class="header">
			<div class="logo-container">
				<img src="../images/logo.png" alt="Logo" />
			</div>

			<nav class="nav-bar">
				<ul>
					<li>
						<a href="views/home.html">Home</a>
					</li>
					<li>
						<a href="views/about.html">About</a>
					</li>
					<li>
						<a href="views/portfolio.html">Portfolio</a>
					</li>
					<li>
						<a href="views/service.html">Service</a>
					</li>
					<li>
						<a href="views/news.html">News</a>
					</li>
					<li>
						<a href="views/contact.html">Contact</a>
					</li>
				</ul>
			</nav>
		</header>

		<main class="main">
			<section class="hero">
				<div class="left">
					<img src="../images/cover.jpg" alt="Hero image" />
				</div>

				<div class="right">
                    <div class="subtitle-and-line">
						<span>CREATIVE PORTFOLIO</span>
						<hr>
					</div>
                    <div class="subtitle-container">
                        <ul>
                            <li>All</li>
                            <li>Vimeo</li>
                            <li>Youtube</li>
                            <li>Soundcloud</li>
                            <li>Image</li>
                            <li>Detail</li>
                        </ul>
                    </div>
                    <div class="img-container">
                        <div class="image-box">
                            <a href="#"><img src="../images/portfolio-person-1.jpg" alt="image"></a>
                            <a href="#"><div class="pop-up">
                                <h3>Ave Brook</h3>
                                <p>Youtube</p>
                                </div>
                            </a>
                            
                        </div>                        
                        <div class="image-box">
                            <a href="#"><img src="../images/portfolio-person-2.jpg" alt="image"></a>
                            <a href="#">
                                <div class="pop-up">
                                    <h3>Kelly Hookin</h3>
                                    <p>Vimeo</p>
                                </div>
                            </a>
                        </div>
                        <div class="image-box">
                            <a href="#"><img src="../images/portfolio-person-3.jpg" alt="image"></a>
                            <a href="#">
                                <div class="pop-up">
                                    <h3>Ashley Flores</h3>
                                    <p>Soundcloud</p>
                                </div>
                            </a>
                        </div>
                        <div class="image-box">
                            <a href="#"><img src="../images/portfolio-person-4.jpg" alt="image"></a>
                            <a href="#">
                                <div class="pop-up">
                                    <h3>Alla Gorova</h3>
                                    <p>Image</p>
                                </div>
                            </a>
                        </div>
                        <div class="image-box">
                            <a href="#"><img src="../images/portfolio-person-5.jpg" alt="image"></a>
                            <a href="#">
                                <div class="pop-up">
                                    <h3>Fele Sweet</h3>
                                    <p>Image</p>
                                </div>
                            </a>
                        </div>
                        <div class="image-box">
                            <a href="#"><img src="../images/portfolio-person-6.jpg" alt="image"></a>
                            <a href="#">
                                <div class="pop-up">
                                    <h3>Alice Moon</h3>
                                    <p>Detail</p>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
			</section>
		</main>

		<footer class="footer">
			<p class="copyright">Copyright &copy; 2024</p>
		</footer>
	</body>
</html>
