
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
:root{
    --heading-color:rgb(51,51,51);
    
}


  .right{
    display: block;
    padding: 95px 50px 0;
    overflow-x: hidden;
    overflow-y: scroll;
    color: var(--gray);
    font-family: 'Open Sans', sans-serif;
}

h4{
    letter-spacing: 7px;
    color: var(--heading-color);   
    position: relative; 
    font-family: 'Poppins', sans-serif;
    display: block;
}

h4::after{
    content: "";
    position: absolute;
    width: calc(100% - 165px);
    margin-right:50px;
    height: 2px;
    top: 50%;
    background-color: rgb(178, 181, 185);
    margin-left: 25px;
}


.about-me-content,.ser-int-contents{
    
    font-size: 15px;
    display: flex;
    margin-top: 55px;
    line-height: 25.5px;
        
}
.passage{
    flex: 1;

}

.passage p{
    width: 80%;
    
}


.firstcolumn{
    font-family: 'Open Sans', sans-serif;
    width: 100px;
    font-weight: 700;
    color: var(--gray);

}

.bio-data{
    flex: 1;
}

.bio-data table{
    line-height: 33px;
}


.services h4::after{
    content: "";
    position: absolute;
    width: 90px;
    margin-right:50px;
    height: 2px;
    top: 50%;
    background-color: rgb(178, 181, 185);
    margin-left: 25px;
}
.ser-int-contents{
    margin-top: 87px;
    display: flex;
}

.ser-int-contents ul{
    list-style: none;
    margin-top: 55px;

}

.services,.interests{
    flex: 1;
}

.ser-int-contents ul li{
    margin-bottom: 8px;
}

.ser-int-contents ul li i{
    margin-right: 20px;
}

.programming{
    margin-top: 85px;
}

.programming h4{
    margin: 0 0 20px;
    letter-spacing: 7px;
    color: var(--heading-color);   
    position: relative; 
    font-family: 'Poppins', sans-serif;
    display: block;
}

.programming h4::after{
    content: "";
    position: absolute;
    width: 388px;
    margin-right:50px;
    height: 2px;
    top: 50%;
    background-color: rgb(178, 181, 185);
    margin-left: 25px;
}

.programming p{
    margin-bottom: 7px;
}
.skillbar-container{
    width: 100%;
    background-color: rgba(92, 92, 92, 0.192);
    height: 3px;
    margin-bottom: 30px;
}

.bar{
    background-color: var(--gray);
    height: 3px;
    position: relative;
    border-radius: 10px;
}

.html {
    width: 60%;
}

.javascript{
    width: 85%;
}

.wordpress{
    width: 90%;
}

.bar .bar-per{
    position: absolute;
    right: 0px;
    bottom: 8px;    
}

.language{
    margin-top: 95px;
}

.language h4{
    margin: 0 0 20px;
    letter-spacing: 7px;
    color: var(--heading-color);   
    position: relative; 
    font-family: 'Poppins', sans-serif;
    display: block;
}

.language h4::after{
    content: "";
    position: absolute;
    width: 447px;
    margin-right:50px;
    height: 2px;
    top: 50%;
    background-color: rgb(178, 181, 185);
    margin-left: 25px;
}

.language-bars-container{
    display: flex;
    justify-content: flex-start;
    margin-top: 55px;
    gap: 90px;
    margin-bottom: 100px;
}

.language-bar-container {
    width: 130px;
    height: 130px;
    
    position: relative;
    display: flex;
    flex-direction: column;
    
    
}

.language-bar-container span{
    margin-top: 105%;
    
   
    text-align: center;
}


.progress {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: conic-gradient(
      var(--gray) 0% 78%, 
      rgba(92, 92, 92, 0.192) 78% 100% 
    );
    position: absolute;
    top: 0;
    left: 0;
    flex-basis: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.english{
    background: conic-gradient(
        var(--gray) 0% 95%, 
        rgba(92, 92, 92, 0.192) 95% 100% 
      );
}
  
.russian{
    background: conic-gradient(
        var(--gray) 0% 80%, 
        rgba(92, 92, 92, 0.192) 80% 100% 
      );
}

.arabic{
    background: conic-gradient(
        var(--gray) 0% 90%, 
        rgba(92, 92, 92, 0.192) 90% 100% 
      );
}

  

.inner-circle{ 
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background-color: #e7e5e5;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.education{
    margin-top: 55px;
    display: flex;
    gap: 10px;
    width: 290px;

}

.edu-h4{
    margin: 0 0 20px;
    letter-spacing: 7px;
    color: var(--heading-color);   
    position: relative; 
    font-family: 'Poppins', sans-serif;
    display: block;
}

.edu-h4::after{
    content: "";
    position: absolute;
    width: 430px;
    margin-right:50px;
    height: 2px;
    top: 50%;
    background-color: rgb(178, 181, 185);
    margin-left: 25px;
}

.edu-details{
    padding-top: 10px;
}


.education .round-tracking{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 200px; */
}

.education .round-tracking .vertical-line-1{
    width: 1px;
    height: 19px;
    background-color: rgba(125, 119, 137, 0.3);
    
}

.education .round-tracking .vertical-line-2{
    width: 1px;
    height: 100px;
    background-color: rgba(125, 119, 136, 0.3);
}

.education .round-tracking .round-shape{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid rgba(125, 119, 136, 0.3);
}


.edu-details .col-1{
    vertical-align: top;
}

.edu-details .col-1 p{
    font-size: 14px;   
    width: 100px; 
    border-radius: 50px;
    text-align: start;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    padding: 5px 0 5px 14px;  
}

.edu-details .col-2{
    padding-left: 30px;
}

.edu-details .col-2 h3{
    font-family: 'Poppins', sans-serif;
    color: var(--heading-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;
}

.edu-details .col-2 p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 50px;
}




.experience{
    margin-top: 50px;
    display: flex;
    gap: 10px;
    width: 290px;

}

.exp-h4{
    margin: 0 0 20px;
    letter-spacing: 7px;
    color: var(--heading-color);   
    position: relative; 
    font-family: 'Poppins', sans-serif;
    display: block;
}

.exp-h4::after{
    content: "";
    position: absolute;
    width: 425px;
    margin-right:50px;
    height: 2px;
    top: 50%;
    background-color: rgb(178, 181, 185);
    margin-left: 25px;
}

.exp-details{
    padding-top: 10px;
}


.experience .round-tracking{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 200px; */
}

.experience .round-tracking .vertical-line-1{
    width: 1px;
    height: 19px;
    background-color: rgba(125, 119, 137, 0.3);
    
}

.experience .round-tracking .vertical-line-2{
    width: 1px;
    height: 100px;
    background-color: rgba(125, 119, 136, 0.3);
}

.experience .round-tracking .round-shape{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid rgba(125, 119, 136, 0.3);
}


.exp-details .col-1{
    vertical-align: top;
}

.exp-details .col-1 p{
    font-size: 14px;   
    width: 110px; 
    border-radius: 50px;
    text-align: start;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    padding: 5px 0 5px 14px;  
}

.exp-details .col-2{
    padding-left: 30px;
}

.exp-details .col-2 h3{
    font-family: 'Poppins', sans-serif;
    color: var(--heading-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;
}

.exp-details .col-2 p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 50px;
}

.partner-table{
    margin-top: 50px;
    width: 100%;
    height: 250px;
    margin-bottom: 100px;
}

.partner-table, .partner-table td, .partner-table tr{
    border: 2px solid rgb(213, 221, 228);
    border-collapse: collapse;
    
   
}

.partner-table td{
    text-align: center;
    opacity: 0.3;
    transition: 0.5s ease;
    cursor: pointer;
    
}

.partner-table img{
    width: 70px;
    
}

.partner-table td:hover {
    opacity: 1;
}

.testimonials{
    margin: 70px 0;
    display: flex;
    gap: 20px;
    
    
}

.testi-h4{
    margin: 0 0 20px;
    letter-spacing: 7px;
    color: var(--heading-color);   
    position: relative; 
    font-family: 'Poppins', sans-serif;
    display: block;
}

.testi-h4::after{
    content: "";
    position: absolute;
    width: 388px;
    margin-right:50px;
    height: 2px;
    top: 50%;
    background-color: rgb(178, 181, 185);
    margin-left: 25px;
}

.testimonials .box{
    border: 2px solid rgb(213, 221, 228);
    padding: 40px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
}

.feedback-profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
}

.feedback-profile{
    padding-left: 25px;
    display: flex;
    gap: 20px;
}

.feedback-profile h3{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--heading-color);
}

.feedback-profile p{
    font-size: 14px;
    font-weight: 400;
}