@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
	--white: #fff;
	--dark: #333;
	--light: #f4f4f4;
	--gray: rgb(122, 122, 122);
	--container-padding: 70px;
	--header-height: 70px;
	--footer-height: 70px;
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}
